<div>
    <h2>Employee Detail</h2>

    <div>
        <strong>Username:</strong> {{ employee?.username }}
    </div>
    <div>
        <strong>First Name:</strong> {{ employee?.firstName }}
    </div>
    <div>
        <strong>Last Name:</strong> {{ employee?.lastName }}
    </div>
    <div>
        <strong>Email:</strong> {{ employee?.email }}
    </div>
    <div>
        <strong>Birth Date:</strong> {{ employee?.birthDate | date }}
    </div>
    <div>
        <strong>Basic Salary:</strong> {{ employee?.basicSalary | currency:'Rp ':'symbol':'1.0-0' }}
    </div>
    <div>
        <strong>Status:</strong> {{ employee?.status }}
    </div>
    <div>
        <strong>Group:</strong> {{ employee?.group }}
    </div>
    <div>
        <strong>Description:</strong> {{ employee?.description }}
    </div>
    <button (click)="goBack()">Back to Employee List</button>
</div>